@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

@font-face {
	font-family: "OpenSans-Extrabold";
	src: url("../fonts/OpenSans-ExtraboldRegular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/OpenSans-ExtraboldRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/OpenSans-ExtraboldRegular.otf") format("opentype"), /* Open Type Font */
		url("../fonts/OpenSans-ExtraboldRegular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/OpenSans-ExtraboldRegular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/OpenSans-ExtraboldRegular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/OpenSans-ExtraboldRegular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Semibold";
	src: url("../fonts/OpenSansSemiboldRegular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/OpenSansSemiboldRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/OpenSansSemiboldRegular.otf") format("opentype"), /* Open Type Font */
		url("./font-style: oblique;		OpenSansSemiboldRegular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/OpenSansSemiboldRegular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/OpenSansSemiboldRegular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/OpenSansSemiboldRegular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@import "nullstyle.scss";

body {
	font-family: "Open Sans";
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	max-width: 1580px;
	background-color: #f6f2f2;
	padding: 29px 0 0 0;
	width: 100%;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 5px;
}
.head {
	&__menu {
		background-color: #000;
		display: flex;
		justify-content: center;

	}
	&__main {}
}
.menu {
	&__row {
		display: flex;
		justify-content: space-between;
		max-width: 480px;
		min-height: 90px;
	}
	&__column {
		padding: 0 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		& span {
		color: #e0e0e0;
		font-size: 14px;
		font-family: "Open Sans";
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.49px;
		font-size: calc(7px + (7 + 7 *0.7) * ((100vw - 455px) /1580));
		}
	}
}
.main {
	&__row {
		display: flex;
		margin: 0 -56px;

	}
	&__column {
		flex: 0 1 50%;
		padding: 0 56px;
	}
	&__box {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
	}
	&__title {
		color: #000000;
		font-family: "OpenSans-Extrabold";
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		padding: 108px 0 0 0;
		font-size: calc(17px + 43 * (100vw /1580));
		line-height: calc(28px + 44 * (100vw/1580));
	}
	&__text {
		opacity: 0.7;
		color: #000000;
		font-family: "Open Sans";
		font-weight: 400;
		padding: 36px 75px 53px 0;
		font-size: calc(10px + 6 * (100vw /1580));
		line-height: calc(20px + 8 * (100vw/1580));
	}
	&__button {
		width: 227px;
		height: 55px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background-color: #ff2d2d;
		transition: 0.5s;
		&:hover {
			cursor: pointer;
			box-shadow: 0px 5px 0 #181818;
			transform: translate(0px, -10px);
			border-radius: 15px;
		}
		&:active {
			box-shadow: 0px 1px 0 #181818;
			transform: translate(0px, -3px);
			border-radius: 15px;
		}
	}
	&__span {
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.32px;
	}
}
.mainVideo {
	padding: 103px 0 125px 0;
	& video {
		box-shadow: 3px 10px 70px rgba(0,0,0,0.25);
		width: 564px;
		height: 393px;
	}
}

